/* LoginWrapper is a wrapper for the entire content of the Login page/component.
   We use this to make sure everything in the login page is properly centered and laid out.
   
   TODO: ADD MEDIA QUERIES FOR OTHER SCREEN RESOLUTIONS
*/
#loginWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 30vw;
}